In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("spark_withColumn").getOrCreate()
spark

C:\Users\HP\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [6]:
df = spark.read.options(header = True,inferSchema = True).csv('StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [11]:
df = df.withColumnRenamed("gender", "sex").withColumnRenamed("roll","Roll Number").withColumnRenamed("course","Course_detail")
df.show()

+---+------+----------------+-------------+-----------+-----+--------------------+
|age|   sex|            name|Course_detail|Roll Number|marks|               email|
+---+------+----------------+-------------+-----------+-----+--------------------+
| 28|Female| Hubert Oliveras|           DB|       2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard|        Cloud|      12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|           PF|      21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|           DB|      32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|          DSA|      41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|          MVC|      52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|          OOP|      61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos|        Cloud|      72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|          MVC|      81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|          OOP|      92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|          DSA|     102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|           DB|     111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|           DB|     122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|          MVC|     132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|           PF|     141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|           DB|     152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|          MVC|     161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|          OOP|     171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|           PF|     182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|           DB|     192537|   62|Ernest Rossbach_M...|
+---+------+----------------+-------------+-----------+-----+--------------------+
only showing top 20 rows

In [17]:
df1 = df.select(col("name").alias("Full Name"))
df1.show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows