In [1]:
"""
_> Use OfficeData.csv
-> Read the file in DF
-> Create a new column increment and provide the increment to the employees on the following criteria
    .) If the employee is in NY state his increment would be 10% of the salary plus 5% of bonus
    .) If the employee is in CA state, his increment would be 12% of the salary plus 3% of the bonus
"""

'\n_> Use OfficeData.csv\n-> Read the file in DF\n-> Create a new column increment and provide the increment to the employees on the following criteria\n    .) If the employee is in NY state his increment would be 10% of the salary plus 5% of bonus\n    .) If the employee is in CA state, his increment would be 12% of the salary plus 3% of the bonus\n'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, udf
from pyspark.sql.types import IntegerType

C:\Users\HP\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
spark = SparkSession.builder.appName("spark_UDF").getOrCreate()
spark

In [6]:
df = spark.read.options(header = True, inferSchema = True).csv("OfficeData.csv")
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [7]:
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [24]:
# Creating UDF
def incremented_salary(state, salary, bonus):
    if state == "NY":
        incr_salary = int(salary) + int(salary*0.1 + bonus*0.05)
    if state =="CA":
        incr_salary = int(salary) + int(salary*0.12 + bonus*0.03)
    return incr_salary

incremented_salary_udf = udf(lambda x,y,z: incremented_salary(x,y,z),IntegerType())

In [25]:
df.withColumn("increment", incremented_salary_udf(df.state, df.salary, df.bonus)).show()

+-------------+----------+-----+------+---+-----+---------+
|employee_name|department|state|salary|age|bonus|increment|
+-------------+----------+-----+------+---+-----+---------+
|        James|     Sales|   NY| 90000| 34|10000|    99500|
|      Michael|     Sales|   NY| 86000| 56|20000|    95600|
|       Robert|     Sales|   CA| 81000| 30|23000|    91410|
|        Maria|   Finance|   CA| 90000| 24|23000|   101490|
|        Raman|   Finance|   CA| 99000| 40|24000|   111600|
|        Scott|   Finance|   NY| 83000| 36|19000|    92250|
|          Jen|   Finance|   NY| 79000| 53|15000|    87650|
|         Jeff| Marketing|   CA| 80000| 25|18000|    90140|
|        Kumar| Marketing|   NY| 91000| 50|21000|   101150|
+-------------+----------+-----+------+---+-----+---------+