In [ ]:
"""
Quiz:
-> Read the StudentData csv file
-> Display the total number of students enrolled in each course
-> Display the total number of male and female students enrolled in each course
-> Display the total marks achieved by each gender in each course
-> Display the minimum, maximum, and average marks achieved in each course by each group

"""

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, count, avg, sum, min, max, mean

C:\Users\HP\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
spark = SparkSession.builder.appName("Spark_DataFrame").getOrCreate()
spark

In [5]:
df = spark.read.options(header = True, inferSchema = True).csv("StudentData.csv")
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [7]:
# -> Display the total number of students enrolled in each course
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [12]:
df.groupBy("course").agg(count('*')).show()

+------+--------+
|course|count(1)|
+------+--------+
|    PF|     166|
|    DB|     157|
|   MVC|     157|
|   DSA|     176|
| Cloud|     192|
|   OOP|     152|
+------+--------+

In [17]:
# -> Display the total number of male and female students enrolled in each course
df.groupBy("course","gender").agg(count('*').alias("total_enrollments")).sort(df.course, df.gender.desc()).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
| Cloud|  Male|               86|
| Cloud|Female|              106|
|    DB|  Male|               82|
|    DB|Female|               75|
|   DSA|  Male|               78|
|   DSA|Female|               98|
|   MVC|  Male|               86|
|   MVC|Female|               71|
|   OOP|  Male|               70|
|   OOP|Female|               82|
|    PF|  Male|               97|
|    PF|Female|               69|
+------+------+-----------------+

In [24]:
# -> Display the total marks achieved by each gender in each course
df.groupBy("course","gender").agg(sum("marks").alias("total_marks")).sort(df.course, df.gender.desc()).show()

+------+------+-----------+
|course|gender|total_marks|
+------+------+-----------+
| Cloud|  Male|       5127|
| Cloud|Female|       6316|
|    DB|  Male|       5073|
|    DB|Female|       4197|
|   DSA|  Male|       4826|
|   DSA|Female|       6124|
|   MVC|  Male|       5241|
|   MVC|Female|       4344|
|   OOP|  Male|       4234|
|   OOP|Female|       4682|
|    PF|  Male|       5960|
|    PF|Female|       3973|
+------+------+-----------+

In [26]:
# -> Display the minimum, maximum, and average marks achieved in each course by each group
df.groupBy("course","age").agg(min("marks").alias("min_marks"),max("marks").alias("max_marks"),avg("marks").alias("avg_marks")).sort(df.age).show()

+------+---+---------+---------+------------------+
|course|age|min_marks|max_marks|         avg_marks|
+------+---+---------+---------+------------------+
|   MVC| 28|       23|       99| 60.44444444444444|
|    PF| 28|       20|       98| 63.75949367088607|
|   DSA| 28|       20|       99|  64.6867469879518|
| Cloud| 28|       20|       99|             58.08|
|    DB| 28|       21|       98| 58.76829268292683|
|   OOP| 28|       23|       99| 57.64102564102564|
|   MVC| 29|       22|       99| 61.56470588235294|
|    PF| 29|       20|       99|56.275862068965516|
|    DB| 29|       20|       98|59.346666666666664|
|   OOP| 29|       20|       99|59.729729729729726|
| Cloud| 29|       21|       98|             61.25|
|   DSA| 29|       20|       99| 60.01075268817204|
+------+---+---------+---------+------------------+

In [27]:
# Quiz 2:
# Use the file WordData.txt
# Read the file in the DF
# Calculate and show the count of each word present in the file.

In [30]:
df_word_count = spark.read.text("WordData.txt")
df_word_count.show()

+------+
| value|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Chair|
| Chair|
| Chair|
|   Bag|
|Mobile|
|  Book|
| Chair|
| Chair|
| Chair|
|   Bag|
+------+
only showing top 20 rows

In [38]:
# Calculate the count of each word
df_word_count.groupBy(df_word_count.value).agg(count('*').alias("count_of_each_item")).sort(col("count_of_each_item")).show()

+------+------------------+
| value|count_of_each_item|
+------+------------------+
|  Book|                 5|
|Mobile|                 5|
|Laptop|                 5|
|   Bag|                 5|
|   Mic|                10|
| Apple|                10|
| Chair|                15|
+------+------------------+