In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark_DataFrame').getOrCreate()
spark

C:\Users\HP\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\HP\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from pyspark.sql.functions import col, lit

In [3]:
df = spark.read.options(header = True, inferSchema = True).csv('StudentData.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [6]:
# Group based on the gender first
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

In [9]:
df.groupBy("gender").count().show()
df.groupBy("course").count().show()
df.groupBy("course").sum("marks").show()

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+----------+
|course|sum(marks)|
+------+----------+
|    PF|      9933|
|    DB|      9270|
|   MVC|      9585|
|   DSA|     10950|
| Cloud|     11443|
|   OOP|      8916|
+------+----------+

In [11]:
df.groupBy("gender").max("marks").show()
df.groupBy("gender").min("marks").show()

+------+----------+
|gender|max(marks)|
+------+----------+
|Female|        99|
|  Male|        99|
+------+----------+

+------+----------+
|gender|min(marks)|
+------+----------+
|Female|        20|
|  Male|        20|
+------+----------+

In [13]:
df.groupBy("age").avg("marks").show()

+---+------------------+
|age|        avg(marks)|
+---+------------------+
| 28|60.487854251012145|
| 29|59.715415019762844|
+---+------------------+

In [14]:
df.groupBy("gender").mean("marks").show()

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

In [15]:
# Grouping from multiple columns

In [17]:
df.groupBy("course").count().show()
df.groupBy("course","gender").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
|    DB|Female|   75|
|   OOP|Female|   82|
+------+------+-----+

In [29]:
df.groupBy("course","gender").max("marks").orderBy(df.course.desc(),df.gender.desc()).show()

+------+------+----------+
|course|gender|max(marks)|
+------+------+----------+
|    PF|  Male|        99|
|    PF|Female|        99|
|   OOP|  Male|        99|
|   OOP|Female|        99|
|   MVC|  Male|        99|
|   MVC|Female|        99|
|   DSA|  Male|        99|
|   DSA|Female|        99|
|    DB|  Male|        98|
|    DB|Female|        96|
| Cloud|  Male|        97|
| Cloud|Female|        99|
+------+------+----------+

In [30]:
from pyspark.sql.functions import sum, avg, max, min, mean, count

In [43]:
# df.groupBy("course").count().show()
df.groupBy("course","gender").agg(count("*").alias("total_enrollments"), sum("marks").alias("Sum of marks"), min("marks").alias("Minimum Marks"), max("marks").alias("Maximum Marks"), avg("marks").alias("Avg Marks"), mean("marks").alias("Mean of Marks")).show()

+------+------+-----------------+------------+-------------+-------------+------------------+------------------+
|course|gender|total_enrollments|Sum of marks|Minimum Marks|Maximum Marks|         Avg Marks|     Mean of Marks|
+------+------+-----------------+------------+-------------+-------------+------------------+------------------+
|   OOP|  Male|               70|        4234|           20|           99| 60.48571428571429| 60.48571428571429|
|    DB|  Male|               82|        5073|           20|           98| 61.86585365853659| 61.86585365853659|
| Cloud|Female|              106|        6316|           20|           99| 59.58490566037736| 59.58490566037736|
|   MVC|  Male|               86|        5241|           22|           99| 60.94186046511628| 60.94186046511628|
|   DSA|Female|               98|        6124|           20|           99| 62.48979591836735| 62.48979591836735|
|    PF|  Male|               97|        5960|           20|           99| 61.44329896907217| 61.44329896907217|
|   MVC|Female|               71|        4344|           22|           99|61.183098591549296|61.183098591549296|
| Cloud|  Male|               86|        5127|           21|           97|59.616279069767444|59.616279069767444|
|    PF|Female|               69|        3973|           20|           99| 57.57971014492754| 57.57971014492754|
|   DSA|  Male|               78|        4826|           20|           99| 61.87179487179487| 61.87179487179487|
|    DB|Female|               75|        4197|           20|           96|             55.96|             55.96|
|   OOP|Female|               82|        4682|           21|           99| 57.09756097560975| 57.09756097560975|
+------+------+-----------------+------------+-------------+-------------+------------------+------------------+